 *{
	 	margin: 0px;
	 	padding: 0px;
	 }
	 body {
  	 	    background:"7.png";
  	 	    font-family: arial, Helvetica, sans-serif;
  	 	 	 }
    #contenedor {
    	width: 100%;
    	margin: 0px auto;
    	border: 1px;
       }
	header {
    	
        background:#FFFFFF;
    	height: 200px;
    	width:100%; 
    	margin: 0px;
    	text-align: center;
    	line-height: 100px;
    	color:black
    	border-bottom: 4px solid black;
    }  


    nav{

    	background:#F2F3F4;

    	height: 50px;
    	border: 2px solid black

    }

    nav  li{
    	float: left;
    	list-style: none;
    	margin: 10px;
        
     }

     .clearfix{
     	clear: both;
     }
     #contens{
     	float: left;
     	clear: both;
     	width: 72%;
     	min-height: 460px;
     	background:"7.png";
     	padding-left: 40px;
     	padding-right: 40px;
     	padding-top: 40px;

     }
    article{
    	color: white;
    	margin-top: 15px;
    	margin-bottom: 15px;
    	border-bottom:2px solid white; 
    }


     aside{
     	float: left;
     	width: 20%;
     	min-height: 500px;
     	background:#6C3483 ;
     	padding-left: 12px;
     	padding-right: 14px;
     }
     
      footer{
      	background:#000000  ;
      	color: white;
      	text-align: center;
      	height: 50px;
      	line-height: 50px;
      }